.img{
    width: 450px;
    height: 100%;
    margin-right: 50px;
}
.text_container{
    margin-top: 50px;
}
.text{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.min_text{
    font-size: 18px;
    font-weight: 500;
}